/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.ly_header_inner{
    max-width: 1230px;
}
.ly_footer_inner{
max-width: 1230px;
}