/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.ly_header_inner{
    max-width: 590px;
}
.ly_footer_inner{
max-width: 590px;
}